@charset "UTF-8";
/*NullStyles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*blockHeader*/
header .navbar {
  width: 80%;
  min-height: 60px;
  margin: 0 auto;
}

header .navbar .navbar-brand {
  color: white;
}

header .navbar .navbar-menu .nav-item {
  font-size: 19px;
  padding-left: 55px;
}

header .navbar .navbar-menu .nav-item a:hover {
  color: #F5DDAB;
}

header .navbar .navbar-search-form {
  padding-right: 2px;
}

header .navbar .nav-user {
  width: 320px;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-user p {
  font-size: 18px;
  color: orange;
  text-align: center;
}

header .navbar .nav-user img {
  padding: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header .navbar .nav-regauth {
  width: 24.2%;
}

header .navbar .nav-regauth .nav-item {
  margin-left: 50px;
  font-size: 20px;
  border: 1px solid orange;
  border-radius: 5px;
}

header .navbar .nav-regauth .nav-item a:hover {
  color: #FFA200;
  font-weight: bold;
}

header .alert-message {
  position: absolute;
  z-index: 1;
  left: 15%;
}

header .alert-message .alert-success {
  margin-bottom: 0px;
}

.reg_auth .modal-title {
  font-size: 30px;
  color: orange;
}

.reg_auth .modal-body form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  color: orange;
  width: 100%;
  border: 1px solid black;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.reg_auth .modal-body form .reg_errorMessage {
  color: #bf1330;
  font-size: 15px;
  font-weight: bold;
}

.reg_auth .modal-body form .btn {
  font-size: 22px;
  text-transform: uppercase;
  outline: 1;
  background: orange;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
  margin: 10px 0px;
  color: white;
  cursor: pointer;
}

.main-content {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  min-height: 850px;
  background-color: #faf0cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .leftColumn {
  width: 78%;
}

.main-content .leftColumn .content {
  height: 100%;
  width: 100%;
}

.main-content .leftColumn .home-page-content {
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
  /*HomePage slider----*/
}

.main-content .leftColumn .home-page-content .main-content {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  min-height: 850px;
  background-color: #faf0cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .leftColumn .home-page-content .main-content .leftColumn {
  width: 78%;
}

.main-content .leftColumn .home-page-content .main-content .RightColumn {
  width: 22%;
  background-color: #e8c990;
  border-top: 1px solid orange;
}

.main-content .leftColumn .home-page-content .clear {
  clear: both;
}

.main-content .leftColumn .home-page-content .slick-list {
  overflow: hidden;
}

.main-content .leftColumn .home-page-content .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .leftColumn .home-page-content .slider {
  position: relative;
  z-index: 0;
  padding: 0px;
  margin-bottom: 100px;
}

.main-content .leftColumn .home-page-content .slider img {
  height: 650px;
  width: 100%;
}

.main-content .leftColumn .home-page-content .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
}

.main-content .leftColumn .home-page-content .slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.main-content .leftColumn .home-page-content .slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .leftColumn .home-page-content .slider .slick-dots li.slick-active button {
  background-color: #3A2C05;
}

.main-content .leftColumn .home-page-content .posts-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content .leftColumn .home-page-content .posts-container .container .card {
  width: 48.5%;
  border: 1px solid black;
}

.main-content .leftColumn .home-page-content .posts-container .container .card:nth-child(even) {
  margin-left: 3%;
}

.main-content .leftColumn .home-page-content .posts-container .container .card img {
  width: 100%;
  height: 320px;
}

.main-content .leftColumn .home-page-content .posts-container .container .card .card-body {
  background-color: #f5f7f7;
}

.main-content .leftColumn .home-page-content .posts-container .container .card .card-body .btn {
  color: white;
  font-weight: 400;
  background-color: orange;
}

.main-content .leftColumn .home-page-content .addArticle form {
  background: #F47C1B;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 12px;
}

.main-content .leftColumn .home-page-content .addArticle form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: white;
  color: orange;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.main-content .leftColumn .home-page-content .addArticle form input.form_submit {
  font-size: 22px;
  text-transform: uppercase;
  outline: 1;
  background: #5997DD;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 12px;
  margin: 10px 0px;
  color: #F5C01E;
  cursor: pointer;
}

.main-content .leftColumn .home-page-content .addArticle form input.form_submit:hover {
  color: #d4a91e;
}

.main-content .leftColumn .home-page-content footer {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  background-color: black;
}

.main-content .leftColumn .content-article-page img {
  width: 80%;
  margin: 15px 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline;
  height: 500px;
}

.main-content .leftColumn .content-article-page .article-body {
  width: 65%;
  margin: 0 auto;
}

.main-content .leftColumn .content-article-page .article-body h1 {
  text-align: center;
  font-size: 30px;
  color: orange;
}

.main-content .leftColumn .content-article-page .article-body p {
  min-height: 200px;
  text-align: left;
  font-size: 16px;
  background-color: #fafafa;
  color: #4d4d4d;
  font-weight: 500;
}

.main-content .RightColumn {
  width: 22%;
  background-color: orange;
}

/*login Page STYLES*/
.login-page {
  width: 360px;
  padding: 7% 0 0;
  margin: auto;
}

.login-page .form {
  position: relative;
  z-index: 1;
  background: #F47C1B;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 12px;
}

.login-page .form .string {
  font-size: 30px;
  color: #F9F9F9;
  padding-bottom: 28px;
}

.login-page .form .formgroup input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: white;
  color: orange;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.login-page .form .formgroup input.form_submit {
  font-size: 22px;
  text-transform: uppercase;
  outline: 1;
  background: #5997DD;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 9px;
  margin: 10px 0px;
  font-weight: bold;
  color: #F5C01E;
  cursor: pointer;
}

.login-page .form .formgroup input.form_submit:hover {
  color: #d4a91e;
}

.login-page .form .reg_errorMessage {
  font-size: 19px;
  color: red;
  font-weight: bold;
}

.login-page .form .message {
  font-size: 18px;
}

.login-page .form .message a {
  color: #FAF6C7;
  text-decoration: none;
  font-size: 18px;
}

.login-page .form .form-register {
  display: none;
}
