@charset "UTF-8";
/*NullStyles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*blockHeader*/
.navbar {
  width: 80%;
  min-height: 60px;
  margin: 0 auto;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-menu .nav-item {
  font-size: 19px;
  padding-left: 55px;
}

.navbar .navbar-menu .nav-item a:hover {
  color: #F5DDAB;
}

.navbar .navbar-search-form {
  padding-right: 2px;
}

.navbar .nav-regauth {
  width: 24.2%;
}

.navbar .nav-regauth .nav-item {
  margin-left: 50px;
  font-size: 20px;
  border: 1px solid orange;
  border-radius: 5px;
}

.navbar .nav-regauth .nav-item a:hover {
  color: #FFA200;
  font-weight: bold;
}

#signInModal .modal-title {
  font-size: 30px;
  color: orange;
}

#signInModal .modal-body form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  color: orange;
  width: 100%;
  border: 1px solid black;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

#signInModal .modal-body form .btn {
  font-size: 22px;
  text-transform: uppercase;
  outline: 1;
  background: orange;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
  margin: 10px 0px;
  color: white;
  cursor: pointer;
}

/*Home Page STYLES*/
#homePageContent {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  min-zoom: 1000px;
  background-color: #D5B7B7;
}

#homePageContent .leftColumn {
  background-color: #FCEDC5;
  width: 78%;
  min-height: 1000px;
}

.clear {
  clear: both;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*HomePage slider----*/
.slider {
  padding: 0px;
  margin-bottom: 100px;
}

.slider img {
  height: 650px;
  width: 100%;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slick-dots li.slick-active button {
  background-color: #3A2C05;
}

.articlesSection {
  width: 100%;
  margin-bottom: 100px;
  background-color: green;
  clear: both;
}

.articlesSection .article {
  background-color: orange;
  width: 40%;
  margin-left: 6%;
  padding: 1%;
  border-radius: 15px;
  float: left;
  border: 1px solid gray;
  margin-bottom: 50px;
}

.articlesSection .article img {
  width: 100%;
  height: 250px;
}

.articlesSection .article .article_heading {
  font-size: 22px;
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
}

.addArticle form {
  background: #F47C1B;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 12px;
}

.addArticle form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: white;
  color: orange;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.addArticle form input.form_submit {
  font-size: 22px;
  text-transform: uppercase;
  outline: 1;
  background: #5997DD;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 12px;
  margin: 10px 0px;
  color: #F5C01E;
  cursor: pointer;
}

.addArticle form input.form_submit:hover {
  color: #d4a91e;
}

/*login Page STYLES*/
.login-page {
  width: 360px;
  padding: 7% 0 0;
  margin: auto;
}

.login-page .form {
  position: relative;
  z-index: 1;
  background: #F47C1B;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 12px;
}

.login-page .form .string {
  font-size: 30px;
  color: #F9F9F9;
  padding-bottom: 28px;
}

.login-page .form .formgroup input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: white;
  color: orange;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.login-page .form .formgroup input.form_submit {
  font-size: 22px;
  text-transform: uppercase;
  outline: 1;
  background: #5997DD;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 9px;
  margin: 10px 0px;
  font-weight: bold;
  color: #F5C01E;
  cursor: pointer;
}

.login-page .form .formgroup input.form_submit:hover {
  color: #d4a91e;
}

.login-page .form .reg_errorMessage {
  font-size: 19px;
  color: red;
  font-weight: bold;
}

.login-page .form .message {
  font-size: 18px;
}

.login-page .form .message a {
  color: #FAF6C7;
  text-decoration: none;
  font-size: 18px;
}

.login-page .form .form-register {
  display: none;
}
